$white: white;
$footer-text-color:#656a65;
$table-row-hover:#ddcece;
$save-btn-background:#4caf50;
$save-btn-background-hvr:#45a049;

$background-gradient: linear-gradient(135deg, rgba(255, 255, 255, 0.8),
 rgba(173, 216, 230, 0.8));
$background-welcome-gradient: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(173, 216, 230, 0.8));
$gradient-text: linear-gradient(135deg, #1e90ff, #87cefa);
$button-background: rgba(0, 123, 255, 0.7);
$button-hover-shadow: rgba(0, 0, 0, 0.2);